- name: app_setup
  ansible.builtin.import_role:
    name: common
    tasks_from: app-setup.yml

- name: java_setup
  ansible.builtin.import_role:
    name: common
    tasks_from: java-setup.yml

- name: systemd_setup
  ansible.builtin.import_role:
    name: common
    tasks_from: systemd-setup.yml

- name: install python dependencies
  ansible.builtin.pip:
    name: "{{ item }}"
    executable: pip3.9
  loop:
  - PyMySQL
  - cryptography      

- name: import shipping data
  community.mysql.mysql_db:
    state: import
    name: all
    login_host: "{{ MYSQL_HOST }}"
    login_user: root
    login_password: RoboShop@1
    target: "{{ item }}"
  loop:
  - /app/db/schema.sql
  - /app/db/app-user.sql
  - /app/db/master-data.sql   

- name: start and enable shipping
  ansible.builtin.service:
    name: shipping
    state: restarted 
    enabled: yes     