- name: Install maven and mysql
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: present
  loop:
  - maven
  - mysql

- name: install dependencies
  ansible.builtin.command: mvn clean package
  args:
    chdir: /app  

- name: rename package
  ansible.builtin.command: mv target/shipping-1.0.jar shipping.jar 
  args:
    chdir: /app     