- name: app_setup
  ansible.builtin.import_role:
    name: common
    tasks_from: app-setup.yml

- name: nodejs_setup
  ansible.builtin.import_role:
    name: common
    tasks_from: nodejs-setup.yml

- name: systemd_setup
  ansible.builtin.import_role:
    name: common
    tasks_from: systemd-setup.yml
    
- name: start cart
  ansible.builtin.service:
    name: cart
    state: restarted
    enabled: yes            
